
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: warm-grey;
    
  }
  
  .wrapper {
    max-width: 80%;
    max-height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 50px;
    gap: 1rem;
    margin-top: 1rem;
    border: 0px solid black;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px -2px #444444;
    background-color: rgb(150, 145, 145);

   
  }
  
  .logo,
  .letterBox,
  .hangmanBox,
  .guessedLetterBox,
  .userInputBox {
    color: #070000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
  }
  
  .logo {
    font-style: italic;
    text-decoration: underline;
    color:rgb(176, 39, 39);
    grid-column: 3 / 5;
    
  }
  
  .letterBox {
    background: linear-gradient(rgb(191 196 173), rgb(187, 194, 176));
    box-shadow: inset 0 0 15px -5px #444444;
    border: 1px solid rgba(0, 0, 0, 0.388);
    grid-column: 3 / 7;
    grid-row: 2 / 5;
   
  }
  
  .letterBox ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1rem;
    
  }

  .letterBox ul li {
    border-bottom: 1px solid black;
    margin: 0.2rem;
    
  
  }

  .hangmanBox {
    background: linear-gradient(rgb(191 196 173), rgb(187, 194, 176));
    box-shadow: inset 0 0 15px -5px #444444;
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    border: 1px solid rgba(0, 0, 0, 0.388);
    /* flex-grow: 0; */
    min-width: 150px;
  }


  
  
  .guessedLetterBox {
    background: linear-gradient(rgb(191 196 173), rgb(187, 194, 176));
    box-shadow: inset 0 0 15px -5px #444444;
    grid-column: 1 / 7;
    grid-row: 5 / 6;
    border: 1px solid rgba(0, 0, 0, 0.388);
  }

  .guessedLetterBox ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1rem;
  }


  .guessedLetterBox ul li {
    margin: 0.2rem;
  }
  
  .userInputBox {
  
    justify-content: space-around;
    grid-column: 1 / 7;
    grid-row: 6 / 7;
   
  
  
  }